<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/jquery-ui.min.css') }}">
</head>
<body>
<div id="game_title">
    <h1 id="app_title">{{ app_title }}</h1>
</div>

<div id="personnal_info_input_box">
    <form id='horoscope_input' method="post">
        <p>Nom:
            <input type="text" name="last_name_input" required> <br>
        </p>
        <p>Prénom:
            <input type="text" name="first_name_input" required> <br>
        </p>
        <p>Date de naissance:
            <input type="text" name="birthday_date" id="date" required>
        </p>
        <input type="submit" id="request_horoscope" value="Voir mon horoscope">
    </form>
</div>
{{ data }}
<div id="horoscope_display">
    <span id="astro_sign_id"></span> <br>
    <span id="last_name"></span>
{{ last_name }}<br>
    {{ first_name }}<br>
    {{ zodiac_sign }}<br>
    {{ horoscope_msg }}
</div>

<img id="question_img" src="{{url_for('static', filename='img/logo.jpg')}}" alt="Image non trouvé"/>

<script src="{{url_for('static', filename='vendor/jquery-3.4.1.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/jquery-ui.min.js')}}"></script>
<script src="{{url_for('static', filename='js/custom_script.js')}}"></script>
</body>
</html>